@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 overflow-x-hidden;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .tab-active {
    @apply border-b-2 border-blue-500 text-blue-500;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f8fafc;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.page-transition {
  @apply animate-in fade-in slide-in-from-bottom-2 duration-500;
}